################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backup
/ShoppingApi/bin
/Data/obj/Debug/netstandard2.0
/.vs
/Data/bin/Release/netstandard2.0
/ShoppingApi/obj
/ShoppingApi/Properties/PublishProfiles
*.user
/Data
/ShoppingApi/libman.json
